@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-muted: #f5f5f5;
  --color-muted-foreground: #737373;
  --color-border: #e5e5e5;
  --color-background: #ffffff;
  --color-foreground: #171717;
}

#root {
  background-color: var(--color-background);
  color: var(--color-foreground);
  min-height: 100vh;
}

#root.dark {
  --color-muted: #262626;
  --color-muted-foreground: #a3a3a3;
  --color-border: #404040;
  --color-background: #0a0a0a;
  --color-foreground: #fafafa;
}
